{% extends 'base.html' %}

{% block titulo %}
empresas
{% endblock titulo %}
{% load crispy_forms_tags %}
{% block cuerpo %}

<body style="background: #DCDCDC;">
    <h1 class="text-center">CONSULTA DE EMPRESAS</h1>
    <div class="col-12" style="margin-top:1%;">
        <div class="table-responsive bg-white shadow-lg rounded p-3" style="height: 400px;">
            <table id="example" class="table table-striped table-hover" style="width:100%">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Nombre empresa</th>
                    <th scope="col">Razon social</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Correo Electronico</th>
                    <th scope="col">Telefono</th>
                    </tr>
                </thead>
                <tbody class="table-primary">
                    {% for empresa in empresas  %}

                    <tr>
                        <td>{{empresa.nombre}} </td>
                        <td>{{empresa.razon_social}}</td>
                        <td>{{empresa.direccion}}</td>
                        <td>{{empresa.correro_electonico}}</td>
                        <td>{{empresa.telefono}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-dark">
                    <th scope="col">Nombre empresa</th>
                    <th scope="col">Razon social</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Correo Electronico</th>
                    <th scope="col">Telefono</th>
                </tfoot>
            </table>
        </div>
    </div>

</body>

{% endblock cuerpo %}