{% extends 'base.html' %}

{% block titulo %}
Trabajador
{% endblock titulo %}
{% load crispy_forms_tags %}
{% block cuerpo %}

<body style="background: #e9e9ea">
    <div class="col-6">
        <h1>HOLA</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
                      
            <center>
                <button type="submit" class="btn btn-primary">crear</button>
            </center>
        </form>
    </div>
</body>

{% endblock cuerpo %}